# Dependency directories
node_modules/

# Build outputs
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Network traces
*.har

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*
